<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <title>Tietojenkäsittelytieteen laitos</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="" />
        <meta name="author" content="" />

        <!-- Le styles -->
        <link href="../../css/bootstrap.css" th:href="@{/static/css/bootstrap.css}" rel="stylesheet" />

        <style>
            body {
                padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
            }
        </style>
        <link href="../../css/bootstrap-responsive.css" th:href="@{/static/css/bootstrap-responsive.css}" rel="stylesheet" />
    </head>

    <body>
        <div th:replace="fragments/top :: nav-bar">
        </div>

        <div class="container">

          <h1>Search</h1>
          <p>lorem ipsum</p>

        </div> <!-- /container -->
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    </body>
</html>
